################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/OurDecor/bin/Debug/net8.0/zh-Hans
/.vs/OurDecor/CopilotIndices/17.14.734.62261
/.vs/OurDecor/v17
/.vs/OurDecor/FileContentIndex
/.vs/OurDecor/DesignTimeBuild
/.vs/OurDecor/config
/.vs/ProjectEvaluation
/OurDecor/bin/Debug/net8.0
*.user
/OurDecor/obj
